{% extends "GILQueazyBundle::base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% set menu_selected = 'Accueil' %}

{% block body %}
    <div class="large-12 columns description">

        <div class="row">
            <h3 class="text-center">La plateforme de partage de quiz</h3>
        </div>

        <div class="row">
            <div class="large-4 columns">
                <div class="callout">
                    <h1 class="text-center"><i class="fa fa-star"></i></h1>
                    <h5 class="text-center">- Création facilitée -</h5>
                    <p class="text-justify">
                        Ne vous prenez plus la tête avec des formulaire compliqué !
                        Queazy vous propose une interface épurée qui vous permet d'aller
                        directement à l'essentiel.
                    </p>
                </div>
            </div>
            <div class="large-4 columns">
                <div class="callout">
                    <h1 class="text-center"><i class="fa fa-image"></i></h1>
                    <h5 class="text-center">- Support du vectoriel -</h5>
                    <p class="text-justify">
                        Fini les images lourdes à envoyer !
                        Queazy supporte les fichiers .svg nativement; incorporez-les
                        aussi facilement que vous écrivez du texte dans vos quiz.
                    </p>
                </div>
            </div>
            <div class="large-4 columns">
                <div class="callout">
                    <h1 class="text-center"><i class="fa fa-superscript"></i></h1>
                    <h5 class="text-center">- Support de MathML -</h5>
                    <p class="text-justify">
                        Il a toujours été compliqué d'afficher des expressions
                        mathématiques proprement dans le navigateur. C'est pourquoi
                        Queazy vous propose de les rédiger au format MathML pour un
                        rendu unique et uniforme.
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% if listeQuiz is defined %}
    <div class="large-12 columns liste-quiz">
        <div class="row">
            <h3>Quiz récemment ajoutés</h3>
        </div>

        <div class="row">
            <table class="liste-quiz">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Nb. Questions</th>
                        <th>Note moyenne</th>
                    </tr>
                </thead>
                <tbody>
                    {% for quiz in listeQuiz %}
                        <tr>
                            <td><a href="#">{{ quiz.nom }}</a></td>
                            <td>{{ quiz.nbQuestions }}</td>
                            <td>{{ quiz.noteMoyenne }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
{% endblock %}