{% extends "GILQueazyBundle::base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% set menu_selected = 'Accueil' %}

{% block body %}

    <h1>Bienvenue sur Queazy !</h1>
    
    <p>M1 informatique – Sujet de projet de Langages Web 1 – 2015 Une mini plate-forme de quiz riches</p>
{% endblock %}