body {
    color: #414E5B;
}
.header {
    padding: 20px 20px;
    background-color: #2FA66A;
    color: white;
}
.title a {
    color: white;
}
.title a .rotate {
    transition: all 1s ease;
}
.title a:hover .rotate {
    -webkit-transform: rotate(-720deg);
       -moz-transform: rotate(-720deg);
}
.navigation {
    background-color: #2FA66A;
}
.menu {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 250px;
}
.menu-item {
    border-bottom: 3px solid transparent;
    transition: border-color 0.3s ease;
}
.menu-item.active {
    border-bottom-color: #ffffff;
}
.menu-item:hover {
    border-bottom-color: #ffffff;
}
.menu-item a {
    color: white;
    /* color: #2FA66A; */
}
.description {
    margin-top: 40px;
}
.description .row {
    margin-bottom: 25px;
}
.callout {
    height: 300px;
}
.callout p {
    margin: 5px;
    margin-top: 20px;
}

.fa {
    color: #2FA66A;
    transition: color 0.5s ease;
}
.fa:hover {
    color: #409DC4;
}

.footer {
    margin-top: 25px;
}

.test {
    background-color: rgba(20, 200, 100, 0.5);
}