body {
    color: #414E5B;
}
.header {
    padding: 20px 20px;
    background-color: #4CAF50;
    color: white;
}
.title a {
    color: white;
}
.title a .rotate {
    transition: all 1s ease;
}
.title a:hover .rotate {
    -webkit-transform: rotate(-720deg);
       -moz-transform: rotate(-720deg);
}
.navigation {
    background-color: #2FA66A;
}
.menu {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 250px;
}
.menu-item {
    border-bottom: 3px solid transparent;
    transition: border-bottom-color 0.3s ease;
}
.menu-item.active,
.menu-item:hover {
    border-bottom-color: #ffffff;
}
.menu-item a {
    color: white;
}
.description {
    margin-top: 40px;
}
.description .row {
    margin-bottom: 25px;
}
.callout {
    height: 300px;
}
.callout p {
    margin: 5px;
    margin-top: 20px;
}

.fa {
    color: #2FA66A;
    transition: color 0.5s ease;
}
.fa:hover {
    color: #409DC4;
}
.fa-trash, .fa-pencil {
    color: white;
}
.fa-trash:hover {
    color: #bc1339;
}

.quiz-infos {
    color: white;
    list-style: none;
}
.quiz-infos.item .quiz-name a {
    color: white;
}
.quiz-infos.item {
    margin: 10px auto;
    padding: 5px 15px;
    border-radius: 3px;
    background-color: #2ecc71;
    border: 1px solid #27ae60;
}
.quiz-infos.item .quiz-tools {
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.quiz-infos.item .quiz-tools a {
    margin-left: 5px;
}
.quiz-infos.item:hover .quiz-tools {
    opacity: 1;
}

.footer {
    margin-top: 25px;
}

.hidden {
    opacity: 0;
}

.test {
    background-color: rgba(20, 200, 100, 0.5);
}