@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'Open Sans', Verdana, sans-serif;
}

.header {
  padding: 30px 30px;
  background-color: #79D9E4;
}
.title {
  color: #2D2F3B;
}

.menu {
  background-color: #4369CB;
  color: white;
}
.menu-item {
  display: inline-block;
  position: relative;
}
.menu_item a {
  color: white;
}

.fa-heart {
  color: #EE3B3B;
}

