{% extends "GILQueazyBundle::base.html.twig" %}

{% block title %}Mes Quiz{% endblock %}

{% set menu_selected = 'User' %}

{% block body %}
    <h1>MES QUIZ</h1>
    
    <h3><a href="{{ path('gil_queazy_add_quiz') }}">Ajouter un Quiz</a></h3>

    <table>
        <thead>
            <tr>
                <td>TITRE</td>
                <td>NB QUESTIONS</td>
                <td>DATE</td>
            </tr>
        </thead>
    {% for quiz in listQuiz %}
        <tr>
            <td>{{ quiz.titre }}</td>
            <td>{{ nbQuestions[quiz.id] }}</td>
            <td>{{ quiz.date|date("m/d/Y") }}</td>
            <td>Modifier</td>
            <td>Supprimer</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}